.school-subjects {
  list-style: none;
  padding: 0;
  margin: 0 15% 4% 15%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  width: 70%;
  z-index: -1;
  border: 1px solid #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: min(5vw, 1.2em);
}

.school-subjects li {
  border-bottom: 1px solid black;
  transition: transform 0.3s ease;
}

.school-subjects li:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.school-subjects li a {
  text-decoration: none;
  color: #000000;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}
.school-subjects li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: min(6vw, 1.3em);
}

.school-subjects li:hover a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.dark-mode li a {
  color: white;
}

.dark-mode li:hover a {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}
