.school-subjects {
  list-style: none;
  padding: 0;
  margin: 4% 15%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  width: 70%;
  z-index: -1;
  border: 1px solid #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.school-subjects li {
  border-bottom: 1px solid #000000;
  transition: transform 0.3s ease;
}

.school-subjects li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.school-subjects li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}
.school-subjects li a:hover {
  background-color: #e0e0e0;
  font-size: 18px;
}

.school-subjects li:hover a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
