.landing-page {
  margin-top: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.landing-page.night-mode {
  /* Add your night mode styles here */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
