.app-logo-name {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.app-name {
  pointer-events: initial;
  text-align: center;
  font-size: min(5vw, 1.2em);
  font-weight: 700;
  color: #000000;
}

.app-logo {
  width: min(50px, 18vw);
  padding: 0.4rem;
}

.app-logo-name:hover {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  text-shadow: 3px 5px 2px rgb(0 0 0 / 0.2);
}

.left-header {
  display: flex;
  align-items: center;
}
.avatar-container {
  margin-right: 8px;
}

.avatar-container:hover {
  cursor: pointer;
  box-shadow: 3px 5px 2px rgb(0 0 0 / 0.2);
}

.sb-avatar__image {
  border-radius: 0.25rem;
}
.sb-avatar__image:hover {
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 3px 5px 2px rgb(0 0 0 / 0.2);
}

.menu-container {
  position: relative;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}

.menu-trigger {
  background: #e8d5c4;
  border-radius: 0.5rem;
  height: 100%;
  width: auto;
  border: solid #000000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: 0; /* Strictly for positioning */
}

.menu-trigger:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-shadow: 1px 2px 0.5px rgba(255, 255, 255, 0.4);
  box-shadow: 3px 5px 2px rgb(0 0 0 / 0.2);
  border-color: #fff;
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #e8d5c4;
  border-radius: 2px;
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #000000;
}

.menu li a {
  text-decoration: none;
  color: #333333 !important;
  padding: 15px 20px;
  display: block;
}
.menu li :hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  width: 100%;
}

.btn-search-bar {
  display: none;
  width: 100%;
}

@media (max-width: 750px) {
  .header-search-bar {
    display: none;
  }
  .btn-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
  .ais-SearchBox {
    max-width: none;
  }
  .menu-container {
    position: inherit;
  }
  .menu-trigger,
  .menu-trigger::before,
  .menu-trigger::after {
    color: transparent;
    position: absolute;
    border: solid #000000;
    padding: 0;
    height: 0px;
    width: 30px;
    box-sizing: unset;
    border-radius: 2px;
    content: none;
  }
  .menu-trigger::before {
    content: "";
    margin-top: -0.75rem;
  }
  .menu-trigger::after {
    content: "";
    margin-top: 0.4rem;
  }
  .menu-trigger:hover {
    content: none;
    box-shadow: none;
    color: transparent;
  }
  .menu {
    position: absolute;
    top: 3px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
}
