.app-name {
  pointer-events: initial;
  text-align: center;
  font-size: min(5vw, 1.2em);
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

img {
  width: min(50px, 18vw);
  padding: 0.4rem;
}

.menu-container {
  position: relative;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}

.menu-trigger {
  background: #e8d5c4;
  border-radius: 1px;
  height: 100%;
  width: auto;
  border: solid #000000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: 0; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #e8d5c4;
  border-radius: 2px;
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #000000;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

@media (max-width: 700px) {
  .menu-container {
    position: inherit;
  }
  .menu-trigger,
  .menu-trigger::before,
  .menu-trigger::after {
    color: transparent;
    position: absolute;
    border: solid #000000;
    padding: 0;
    height: 0px;
    width: 30px;
    box-sizing: unset;
    border-radius: 2px;
  }
  .menu-trigger::before {
    content: "";
    margin-top: -9.6px;
  }
  .menu-trigger::after {
    content: "";
    margin-top: 4.8px;
  }
  .menu-trigger:hover {
    box-shadow: none;
  }
  .menu {
    position: absolute;
    top: 3px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
}
