.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.image-wrapper {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-photo {
  box-sizing: border-box;
  border: 2px solid #ff6b6b;
}

.image-wrapper img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.image-options {
  position: absolute;
  top: 5px;
  right: 5px;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-modal p {
  color: #fff;
  margin-bottom: 10px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.confirmation-buttons button {
  margin: 0 5px;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-modal-wrapper {
  position: relative;
}

.image-modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-modal-wrapper img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.add-photo {
  width: 150px;
  height: 150px;
  cursor: pointer;
  object-fit: cover;
}

.add-photo:hover,
.image-wrapper img:hover {
  box-sizing: border-box;
  border: solid;
  border-color: #333;
}

.hover-text {
  position: relative;
  border-bottom: 1px dotted #333;
}

.hover-text:before {
  content: attr(data-hover);
  font-size: 10px;
  visibility: hidden;
  opacity: 0;
  width: 50px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hover-text:hover::before {
  opacity: 1;
  visibility: visible;
}
